body{
    background: rgb(0, 0, 0);
    color: #FFF;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100vw;
}

h2{
    text-align: center;
}
.conteudo {
    margin: 0 auto;
    width: 98%;;
    /*max-width: 330px;*/
    margin-top: 20px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
}
#somarNew{
    display: none;
}
#produtoNew{
    display: block;
    width: 50%;
    text-align: left;
}
#qtdeNew{
    width: 10%;
    text-align: center;
}
#valorNew{
    width: 30%;
    text-align: center;
}
.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;     
}
.topo input {
    /*width: 250px;*/
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1rem;
    background: #191818;
    color: #FFF;
}
.topo button {
    width: 10%;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #FFF;
    outline: none;
}
.topo button:hover {
    background: #1f1e1e;
    cursor: pointer;
}
#listaTarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefas li {
    padding: 10px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}

.btnLS {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}
.somaPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    bottom: 5%;
    right: 12%;
}

footer{
    font-size: .8rem;
    text-align: center;
}

footer .detail{
    font-weight: bold;
}